body {
    background-color: white;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 20px;
}

img {
    width: 200px;
    border-radius: 10px;
}